venv/
venv_wsl/
old_venv_wsl/

_1_compustat_paper/datasets/
_2_llm_paper/datasets/

_2_llm_paper/cache

_1_compustat_paper/models
_2_llm_paper/models

__pycache__/

.vscode/
.cursor/
_1_compustat_paper/.env
_2_llm_paper/.env