venv/
venv_wsl/
old_venv_wsl/

_1_compustat_paper/datasets/
_2_llm_paper/datasets/

_2_llm_paper/cache/df_news_final.pkl
_2_llm_paper/cache/df_news.pkl
_2_llm_paper/cache/df_log_returns.pkl

_1_compustat_paper/models
_2_llm_paper/models

.vscode/
.cursor/
.env